<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retailo2o.smc.mapper.CodeLengthMapper">
  <resultMap id="BaseResultMap" type="com.retailo2o.smc.entity.CodeLength">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mtenant_id" jdbcType="VARCHAR" property="mtenantId" />
    <result column="categorytype" jdbcType="INTEGER" property="categorytype" />
    <result column="categoryitemcode" jdbcType="VARCHAR" property="categoryitemcode" />
    <result column="categorycodelength" jdbcType="VARCHAR" property="categorycodelength" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mtenant_id, categorytype, categoryitemcode, categorycodelength, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbcodelength
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbcodelength
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.retailo2o.smc.entity.CodeLength">
    insert into tbcodelength (id, mtenant_id, categorytype, 
      categoryitemcode, categorycodelength, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{mtenantId,jdbcType=VARCHAR}, #{categorytype,jdbcType=INTEGER}, 
      #{categoryitemcode,jdbcType=VARCHAR}, #{categorycodelength,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.retailo2o.smc.entity.CodeLength">
    insert into tbcodelength
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mtenantId != null">
        mtenant_id,
      </if>
      <if test="categorytype != null">
        categorytype,
      </if>
      <if test="categoryitemcode != null">
        categoryitemcode,
      </if>
      <if test="categorycodelength != null">
        categorycodelength,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mtenantId != null">
        #{mtenantId,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null">
        #{categorytype,jdbcType=INTEGER},
      </if>
      <if test="categoryitemcode != null">
        #{categoryitemcode,jdbcType=VARCHAR},
      </if>
      <if test="categorycodelength != null">
        #{categorycodelength,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.retailo2o.smc.entity.CodeLength">
    update tbcodelength
    <set>
      <if test="mtenantId != null">
        mtenant_id = #{mtenantId,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null">
        categorytype = #{categorytype,jdbcType=INTEGER},
      </if>
      <if test="categoryitemcode != null">
        categoryitemcode = #{categoryitemcode,jdbcType=VARCHAR},
      </if>
      <if test="categorycodelength != null">
        categorycodelength = #{categorycodelength,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.retailo2o.smc.entity.CodeLength">
    update tbcodelength
    set mtenant_id = #{mtenantId,jdbcType=VARCHAR},
      categorytype = #{categorytype,jdbcType=INTEGER},
      categoryitemcode = #{categoryitemcode,jdbcType=VARCHAR},
      categorycodelength = #{categorycodelength,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>